<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to nature portal</title>
    <link rel="stylesheet" href="{%static 'css/demo.css' %}">
</head>
<body>
    <h1>{{head_msg}}</h1>
    <ul>
        <li>{{msg1}}</li>
        <li>{{msg2}}</li>
        <li>{{msg3}}</li>
    </ul>
    {% if type == 'flower' %}
    <img src="{%static 'images/flower1.jpg'%}" alt="">
    <img src="{%static 'images/flower2.jpg'%}" alt="">
    <img src="{%static 'images/flower3.jpg'%}" alt="">
    
    {% elif type == 'water' %}
    <img src="{%static 'images/water1.jpg'%}" alt="">
    <img src="{%static 'images/water2.jpg'%}" alt="">
    <img src="{%static 'images/water3.jpg'%}" alt="">
   
    {% elif type == 'temple' %}
    <img src="{%static 'images/tem1.jpg'%}" alt="">
    <img src="{%static 'images/tem2.jpg'%}" alt="">
    <img src="{%static 'images/tem3.jpg'%}" alt="">
    {% endif %}
    
</body>
</html>